// kinokoバルーン
$ballonimage: url(../images/kinoko.png);
$animation_x: wobbling_x 0.8s ease-in-out infinite alternate,
  wobbling_y 1.1s ease-in-out infinite alternate;
$image_size: clamp(100px, 200px, 20vw);

.container {
  position: relative;
  height: auto;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.balloons div {
  position: absolute;
  bottom: -15%;
  width: $image_size;
  height: $image_size;
  background-image: $ballonimage;
  background-size: cover;
}

.balloons div:nth-of-type(1) {
  left: 8%;
  animation: $animation_x, wobbling_y 1.1s ease-in-out infinite alternate,
    fly_high 8s ease-in-out infinite;
}

.balloons div:nth-of-type(2) {
  left: 19%;
  animation: $animation_x, wobbling_y 1.1s ease-in-out infinite alternate,
    fly_high 5.5s ease-in-out infinite;
}

.balloons div:nth-of-type(3) {
  left: 40%;
  background-image: $ballonimage;
  animation: $animation_x, wobbling_y 1.1s ease-in-out infinite alternate,
    fly_high 10.5s ease-in-out infinite;
}

.balloons div:nth-of-type(4) {
  left: 64%;
  background-image: $ballonimage;
  animation: $animation_x, wobbling_y 1.1s ease-in-out infinite alternate,
    fly_high 6s ease-in-out infinite;
}

.balloons div:nth-of-type(5) {
  left: 80%;
  animation: $animation_x, wobbling_y 1.1s ease-in-out infinite alternate,
    fly_high 8.9s ease-in-out infinite;
}

@keyframes wobbling_x {
  0% {
    margin-left: 5em;
  }

  100% {
    margin-left: 0;
  }
}

@keyframes wobbling_y {
  0% {
    margin-bottom: 0;
  }
  100% {
    margin-bottom: 8px;
  }
}

@keyframes fly_high {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-2000px);
  }
}
/*
http://www.htmq.com/css3/transition-timing-function.shtml
ease-in-out：cubic-bezier(0.42, 0, 0.58, 1.0) を指定したのと同じ（ゆっくり始まってゆっくり終わる）

http://www.htmq.com/css3/animation-iteration-count.shtml
infinite：無限に再生を繰り返す

http://www.htmq.com/css3/animation-direction.shtml

*/
