@import "balloon";

.container {
  margin: auto;
}

#check {
  margin-right: 1em;
}
.container-fluid p {
  a.dropdown-toggle.play_link {
    text-decoration: none;
    color: black;
    &:hover {
      text-decoration: underline;
      color: green;
    }
  }
  #collapse.collapse {
    text-decoration: underline;
  }
}

@mixin buttonBasicSetting {
  font-size: clamp(25px, 10vw, 12vw);
  border-radius: 20px;
}

//ボタンが非活性の時
.button_disabled {
  @include buttonBasicSetting;
  cursor: not-allowed;
}

//ボタンが活性の時
.button {
  @include buttonBasicSetting;
  background-color: #2e8b57;
  color: white;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}

p.mt-5 {
  font-size: $title_text;
}

.mb-5.mt-5 {
  font-size: $text;
}

.marker {
  background: linear-gradient(transparent 65%, #bad3ff 0%);
  width: auto;
}

div h2 span.marker {
  font-size: $sub_title_text;
}

.mt-4 p {
  margin-top: 1em;
  font-size: $text;
}
