.img {
  width: 50%;
  height: 50%;
}

.card {
  margin: 0 auto;
}

.result_title {
  margin: 30px;
}

// 結果
.result_title span {
  font-size: $sub_title_text;
}

// 結果のきのこ名
.result_title .kinoko_name span {
  font-size: $title_text;
  background: linear-gradient(transparent 65%, #ffc7af 0%);
  width: auto;
}

// サブタイトル囲み
.sub_result_title {
  margin: 15px 0;
}

.feature,
.type,
.level {
  font-size: $sub_title_text;
}

.card-body span.title.marker {
  background: linear-gradient(transparent 65%, #bad3ff 0%);
  width: auto;
  font-size: $sub_title_text;
}

.card-text * {
  margin-top: 1em;
  font-size: $text;
}

.twitter_share {
  font-size: $text;
  margin: 1em;
}
