// Place all the styles related to the results controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.img {
  width: 50%;
  height: 50%;
}

.card {
  margin: 0 auto;
}

// .result_title {
//   margin: 30px;
// }

// .result_title span {
//   font-size: 30px;
// }

// .result_title .kinoko_name {
//   font-size: 50px;
// }
