script crossorigin="anonymous" src="https://cdn.lr-ingest.io/LogRocket.min.js"
javascript:
  window.LogRocket && window.LogRocket.init('tmai4r/kinoko');

script async="" src="https://www.googletagmanager.com/gtag/js?id=G-5FMGPEDX64"
javascript:
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-5FMGPEDX64');