@import "shared/privacy_policy";
@import "shared/terms_of_use";

$backcolor: #f5f5f5;

html body {
  background-color: $backcolor;
  font-family: "Chalkduster", "Wawati SC", sans-serif;
  text-align: center;
  height: auto;
}

header,
footer {
  background-color: black;
  color: white;
  font-size: 2vw;
}

#wrapper {
  margin: 0;
}
