#privacy_policy {
  color: white;
}

#staticBackdrop {
  color: black;
  text-align: left;
}

.modal-body ul li {
  list-style-type: none;
}

ul .number li {
  list-style-type: decimal;
  list-style-position: inside;
}
